<a href="https://colab.research.google.com/github/ShuvoBipul/Assignment-1/blob/main/Assignment_7_Housing_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [23]:
from google.colab import drive
drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
df = pd.read_csv('/content/drive/MyDrive/SkillMorph_Dataset/Housing.csv')

In [25]:
print(f"Number of houses: {len(df)}")

Number of houses: 545

In [26]:
df.head(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished

In [27]:
print("Columns:")
print(df.columns.tolist())

print("Data types:")
print(df.dtypes)

Columns:
['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus']
Data types:
price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [36]:
from google.colab import drive
drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
df = pd.read_csv('/content/drive/MyDrive/SkillMorph_Dataset/Housing.csv')

In [38]:
# 1. Convert simple 'yes'/'no' columns to 1/0
binary_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
for col in binary_cols:
    df[col] = df[col].map({'yes': 1, 'no': 0})

# 2. Convert 'furnishingstatus' into dummy variables
# We use drop_first=True to avoid mathematical redundancy.
# This creates columns for 'semi-furnished' and 'unfurnished'.
# If both are 0, it means the house is 'furnished'.
df = pd.get_dummies(df, columns=['furnishingstatus'], drop_first=True)

print("\nData after Preprocessing:")
print(df.head())

Data after Preprocessing:
      price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0  13300000  7420         4          2        3         1          0
1  12250000  8960         4          4        4         1          0
2  12250000  9960         3          2        2         1          0
3  12215000  7500         4          2        2         1          0
4  11410000  7420         4          1        2         1          1

   basement  hotwaterheating  airconditioning  parking  prefarea  \
0         0                0                1        2         1
1         0                0                1        3         0
2         1                0                0        2         1
3         1                0                1        3         1
4         1                0                1        2         0

   furnishingstatus_semi-furnished  furnishingstatus_unfurnished
0                            False                         False
1                            False                         False
2                             True                         False
3                            False                         False
4                            False                         False

In [39]:
# Define Features (X) and Target (y)
X = df.drop('price', axis=1)
y = df['price']

# Split: 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
scaler = StandardScaler()

# Fit the scaler on the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data using the SAME scaler
X_test_scaled = scaler.transform(X_test)

In [41]:
# Create the model
model = LinearRegression()

# Train the model
model.fit(X_train_scaled, y_train)

# Check how well it performs on the test data
y_pred = model.predict(X_test_scaled)
print(f"\nModel Accuracy (R2 Score): {r2_score(y_test, y_pred):.4f}")

Model Accuracy (R2 Score): 0.6529

In [42]:
# Define the new house details
# Note: For 'furnished', both semi-furnished and unfurnished columns must be 0
new_house_data = {
    'area': 5000,
    'bedrooms': 3,
    'bathrooms': 2,
    'stories': 2,
    'mainroad': 1,
    'guestroom': 0,
    'basement': 1,
    'hotwaterheating': 0,
    'airconditioning': 1,
    'parking': 2,
    'prefarea': 1,
    'furnishingstatus_semi-furnished': 0,
    'furnishingstatus_unfurnished': 0
}

# Convert to a DataFrame
new_house_df = pd.DataFrame([new_house_data])

# IMPORTANT: Reorder columns to match the training data
new_house_df = new_house_df[X.columns]

# Scale the new house data using our scaler
new_house_scaled = scaler.transform(new_house_df)

# Make the prediction
predicted_price = model.predict(new_house_scaled)[0]

print(f"\n--- Final Result ---")
print(f"The predicted price for this house is: ${predicted_price:,.2f}")

--- Final Result ---
The predicted price for this house is: $7,303,227.50